.admin-container
{
  display: grid;
  grid-template-columns: 1fr 7fr;
  background: $mainColor;
  min-height: 100vh;
  .panel
  {
    position: fixed;
    width: 12.5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background: $particlesBack;
    a
    {
      color: $brightFont;
      margin: 5%;
      text-align: center;
      background: $secondColor;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .admin-frame
  {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 10px;
  }
}