.dashboard-container{
  table{
    tr{
      &:hover{
        background: $secondColor;

      }
    }
      a{
        color: $brightFont;
        &:hover{
          color:  $mediumFont;
        }
      }
  }
}