.my-container{
  width: 100%;
  position: relative;
  z-index: 2;
  background: $mainColor;
}

.soft-container{
  @extend .my-container;
  display: grid;
  grid-template-rows: 10vh 1fr 10vh;
  min-height: 100vh;
}