#php{
  width: 90%;
  background: linear-gradient(to right, #6c8ef0 0%, $mainColor 180%);
}

#scss{
  width: 50%;
  background: linear-gradient(to right, #FF8585 0%, $mainColor 180%);
}

#python{
  width: 50%;
  background: linear-gradient(to right, #DBC200 0%, $mainColor 180%);
}

#js{
  width: 85%;
  background: linear-gradient(to right, #DBC200 0%, $mainColor 180%);
}

#t-sql{
  width: 80%;
  background: linear-gradient(to right, #6c8ef0 0%, $mainColor 180%);
}

#bootstrap {
  width: 70%;
  background: linear-gradient(to right, #9000AD 0%, $mainColor 180%);
}

#gulp {
  width: 40%;
  background: linear-gradient(to right, #FF473D 0%, $mainColor 180%);
}

#git {
  width: 90%;
  background: linear-gradient(to right, #FF473D 0%, $mainColor 180%);
}

#vue {
  width: 75%;
  background: linear-gradient(to right, #00B344 0%, $mainColor 180%);
}

#laravel {
  width: 65%;
  background: linear-gradient(to right, #FF473D 0%, $mainColor 180%);
}