vendor
.idea
.env
node_modules
resources/css/
resources/img/
resources/js/linked/
public/storage
public/PHP_errors.log
cgi-bin./public/storage
./vendor/bin/doctrine-dbal
./vendor/bin/php-parse
./vendor/bin/psysh
public/*.txt