@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
body{
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.top{
    height: 60%;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    justify-content: space-around;
    z-index: 2;
}

#particles-js{
    position: absolute;
    flex: 0;
    height: inherit;
    width: 100%;
    z-index: 1;
}

#override_jumbotron{
    background: none;
    height: 30%;
    z-index: 2;
}

nav
{
    display: flex;
    justify-content: center;
    z-index: 2;
}

nav>a{
    font-size: 26Px;
    padding-left: 5Px;
    padding-right: 5Px; 
    transition: all 0.1s;
    text-decoration: none;
    margin: 15Px;
    color: #E0E0E0;
    text-align: center;
}

nav>a:hover{
    border-radius: 5Px;
    box-shadow: 0 0 5Px 1Px grey;
    background: #E0E0E0;
    text-decoration: none;
    color: black;
}

#intro, #extra, #works{
    min-height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #edeeef;
    align-items: center;
    justify-content: center;
}


.skill{
    display: flex;
    flex-wrap: wrap;
    min-height: 100Px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.message{
    min-width: 400Px;
    flex: 3;
}

.title_img{
    flex: 1;
    max-width: 100%;
    min-width: 200Px;
}

.col-md-3>img{
    max-height: 150Px;
}

.title_img>img{
    height: auto;
    max-width: 100%;
    border-radius: 100%;
}

.profile{
    flex: 2;
    font-size: 12Px;
    min-width: 250Px;
}

.table{
    font-size: 12Px;
}

article{
    min-width: 200Px;
    flex: 3;
    font-size: 24Px;
    font-family: 'Source Serif Pro', serif;
}

.skill>article{
    font-family: sans-serif;
    font-size: 20Px;
    padding: 0;
}

h2{
    margin-top: 1%;
}

#extra>div{
    min-width: 300Px;
    min-height: 1Px;
    flex: 1;
    background: lightgrey;
}

#extra>div:first-child{
    background: url('../img/frontend.png');
    background-size: cover;
}

#extra>div:nth-child(2){
    color: black;
    background: url('../img/backend.png');
    background-size: cover;
}

#footer{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 10%;
    background: url('../img/footer_lodyas.png');
}

.copyright{
    margin-right: auto;
    color: grey;
    font-size: 12Px;
}

.contacts>a>img{
    height: 30Px;
    width: 30Px;
    transition: all 0.2s;
    opacity: 0.4;
}
.contacts>a>img:hover{
    opacity: 1;
}

.carousel-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-img>img{
    height: 50%;
    width: auto;
}