@import "var";
@import 'node_modules/bootstrap/scss/bootstrap';
@import "navs/navs";
@import "forms/forms";
@import "containers/containers";
@import "pictures/pictures";
@import "blog/blog";
@import "football/football";
@import "graphics/graphics";
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

html, body{
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

a, a:hover, a:active, a:visited, a:focus{
  text-decoration: none;
  transition: all 0.4s;
}

.grid-container{
  @extend .basic-container;
  display: grid;
  grid-template-rows: repeat(3, 100vh);
  height: 1px;
  min-height: 315vh;
  max-width: 100%;
  grid-gap: 5vh;
  section{
    min-height: 100vh;
  }
}

.info{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  article{
    font-family: 'Maven Pro', sans-serif;
    margin: 7vmin;
    font-size: 3vmin;
    text-align: justify;
  }
  .profile-image{
    opacity: 0.7;
    width: 80%;
    max-width: 100%;
    height: auto;
    margin: 3vmin;
    img {
      border-radius: 100%;
    }
  }
}

#knowledge {
  @extend .centered
}

.sections-menu {
  list-style: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  opacity: 0.5;
  background: black;
  padding: 0;
  z-index: 100;
  top: 30vh;
  right: 0;
  height: 40vh;
  min-width: 100px;
  &:hover {
    opacity: 1;
  }
}

.section-link {
  @extend .centered;
  cursor: pointer;
  flex: 1;
  font-weight: bold;
  width: 100%;
  color: $brightFont;
  &:hover {
    background-color: $secondColor;
  }
}

.skills-container {
  display: flex;
  height: 90%;
  min-height: 90vh;
  min-width: 90%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  .skill {
    margin-bottom: 5px;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.line {
  height: 5px;
  background-color: #0f6674;
  width: 30%;
}

footer{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background: url("/img/footer_lodyas.png");
  color: $brightFont;
  min-height: 7vh;
  padding: 0 5px;
  font-size: 2vmin;
  font-weight: 500;
  box-shadow: 0 0 2px 2px grey;
  .copyright{
    margin-right: auto;
    padding-right: 15px;
  }
  a{
    height: 40px;
    width: 40px;
    padding: 5px;
    &:hover
    {
      opacity: 0.5;
    }
  }
}

img{
  max-height: 100vh;
  width: auto;
  max-width: 100%;
}

@media all and (max-width: 1000px)
{
  .grid-container{
    height: auto;
    grid-template-rows: repeat(3, auto);
    .timing{
      height: auto;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, auto);
      .graphic{
        min-height: 100vh;
      }
    }
    .info{
      height: auto;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, min-content);
      .profile-image {
        width: auto;
      }
    }
  }
  .secondary{
    display: none;
  }
}

@media all and (max-width: 600px)
{
  .posts{
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, 1fr);
  }
}