@import "var";
@import 'node_modules/bootstrap/scss/bootstrap';
@import "navs/navs";
@import "forms/forms";
@import "containers/containers";
@import "pictures/pictures";
@import "index/index";
@import "blog/blog";

html, body{
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

a, a:hover, a:active, a:visited, a:focus{
  text-decoration: none;
  transition: all 0.4s;
}

.grid-container{
  @extend .basic-container;
  display: grid;
  height: 1px;
  min-height: 315vh;
  width: 100%;
  max-width: 100%;
  grid-gap: 5vh;
  section{
    border-top: 2px solid $brightFont;
    padding: 0 10px;
  }
}

footer{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background: url("/img/footer_lodyas.png");
  color: $brightFont;
  min-height: 7vh;
  padding: 0 5px;
  font-size: 2vmin;
  font-weight: 500;
  box-shadow: 0 0 2px 2px grey;
  .copyright{
    margin-right: auto;
    padding-right: 15px;
  }
  a{
    height: 40px;
    width: 40px;
    padding: 5px;
    &:hover
    {
      opacity: 0.5;
    }
  }
}

img{
  max-height: 100vh;
  width: auto;
  max-width: 100%;
}

@media all and (max-width: 1000px)
{
  .grid-container{
    height: auto;
    grid-template-rows: repeat(3, auto);
    .timing{
      height: auto;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, auto);
      .graphic{
        min-height: 100vh;
      }
    }
    .info{
      height: auto;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, min-content);
    }
  }
}

@media all and (max-width: 600px)
{
  .posts{
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, 1fr);
  }
}