@import "../var";
footer{
  height: 10%;
  width: 100%;
  background: url('../img/footer_lodyas.png');
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $mainColor;
  .copyright{
    font-size: 16px;
    margin-right: auto;
  }
  a{
    height: 50px;
    width: 50px;
    padding: 5px;
    &:hover
    {
      opacity: 0.5;
    }
  }
}