@import "../var";
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  #particles-js{
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: 1;
  }
  .jumbotron{
    z-index: 3;
    background: inherit;
    align-self: center;
    h1, p{
      text-align: center;
    }
  }
  nav {
    z-index: 3;
    width: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    align-self: flex-end;
    a{
      font-size: 30px;
      z-index: 3;
      padding: 5px 30px 5px 30px;
      border-radius: 4px;
      color: $fontColor;
      &:hover{
        font-size: 26px;
        color: $particlesBack;
        background: $secondColor;
      }
    }
  }
}

@media screen and (max-width: 360px){
h1{
  a{
    font-size: 20px;
  }
}
}