@import "../var";
header{
  background: url('../img/back.jpg') fixed;
  color: $mainColor;
  position:fixed;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  nav {
    z-index: 2;
    width: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    align-self: flex-end;
    a{
      font-size: 30px;
      z-index: 3;
      padding: 5px 30px 5px 30px;
      border-radius: 4px;
      color: $mainColor;
      &:hover{
        font-size: 26px;
        color: $particlesBack;
        background: $secondColor;
      }
    }
  }
  #particles-js{
    position: absolute;
    width: 100%;
  }
  .jumbotron{
    z-index: -1;
    background: inherit;
    align-self: center;
    h1, p{
      text-align: center;
    }
  }
}

.header_pillow{
  position: relative;
  height: 100%;
  width: 100%;
  background: black;
  z-index: -10;
}

@media screen and (max-width: 360px){
h1{
    a{
      font-size: 20px;
    }
  }
}