@import "../var";
.info{
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  padding: 2%;
  color: $darkFont;
  grid-template-areas: "h h" "a b";
  align-items: center;
  justify-items: center;
  .about{
    grid-area: a;
    color: inherit;
    table{
      height: inherit;
      color: inherit;
    }
  }
  article{
    grid-area: b;
    font-size: 4vmin;
    font-weight: 400;
    margin-left: 10vmin;
  }
    img{
      grid-area: a;
      justify-self: center;
      border-radius: 100%;
      box-shadow: grey 0 0 15px 3px;
    }
  h1{
    grid-area: h;
  }
}