@import "../var";
.info{
  display: grid;
  grid-template-columns: 20% 30% 1fr;
  height: 17%;
  width: 100%;
  padding: 5px;
  color: $darkFont;
  .about{
    color: inherit;
    height: 100%;
    table{
      height: inherit;
      color: inherit;
    }
  }
  article{
    font-size: 20px;
    align-self: center;
  }
    img{
      border-radius: 100%;
      box-shadow: grey 0 0 10px 3px;
    }
}