@import "../var";
.posts {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background: inherit;
  justify-content: center;
  align-items: stretch;
  .post{
    display: grid;
    grid-template-columns: 40% 60%;
    flex: 1;
    min-height: 150px;
    min-width: 300px;
    height: auto;
    margin: 1% 2%;
    background: $particlesBack;
  }
}