@import "../var";

.posts{
  word-break: normal;
  text-align: justify;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5%;
  padding: 2%;
  a{
    max-width: 600px;
    &:hover{
      *{
        box-shadow: none;
        color: $secondColor;
        transition: all 0.4s;
      }
    }
  }
}
.post{
  position: relative;
  background-color: $particlesBack;
  height: 1px;
  min-height: 97vh;
  box-shadow: 3px 3px 3px 3px $mediumFont;
  margin-top: 10px;
  .card-img-top{
    background: inherit;
  }
  .card-body{
    overflow: hidden;
    h5{
      font-size: 26px;
    }
    p{
      font-size: 20px;
    }
  }
  *{
    color: $brightFont;
  }
}

.post-overflow{
  position: absolute;
  width: 100%;
  height: 20%;
  top: 80%;
  left: 0;
  background:linear-gradient(to bottom, rgba(33, 37, 41, 0.2),
          rgba(33, 37, 41, 0.6) 30%,
          rgba(33, 37, 41, 1) 100%)
}

.posts-all{
  @extend .posts;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-row-gap: 10vh;
  justify-content: center;
}