@import "../var";

.skills{
  color: $darkFont;
  flex: 2;
  display: grid;
  grid-template-rows: 10% 90%;
  border: 1px solid $particlesBack;
  div.stack{
    display: grid;
    margin: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, 100px);
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $particlesBack;
      background: $secondColor;
      *{
        padding: 0 5px;
        margin: 0;
      }
    }
  }
  img{
    padding-top: 2%;
  }
}

#js, #ajax, #bower, #gulp, #jquery{
  background: #CDCC6A;
}
#css, #bootstrap, #sass, #grid, #flex{
  background: #8B92B1;
}
#css{
  background: #3B81B0;
  grid-row: auto / span 3;
}

#bootstrap{
  background: #A8AAFF;
}

#sass{
  background: #7D8AD4;
  grid-row: auto / span 3;
}

#grid{
  background: #5140BF;
}

#flex{
  background: #BCAFE4;
}

#js{
  grid-column: auto / span 3;
  background: #F5C842;
}

#jquery{
  background: #F5AC38;
}

#gulp{
  background: #FFA361;
}

#ajax{
  background: #F8C977;
}

#html {
  background: #F4A460;
  grid-row: 1 / span 3;
  grid-column: auto / span 3;
}

#git{
  background: #8FA39C;
}

#oop{
  background: #ADA8B8;
  grid-column: auto / span 3;
}

#python{
  background: #B5DA90;
}

#php{
  background: #6BCEFF;
  grid-column: auto / span 4;
}

#guzzle{

}

@media all and (max-width: 400px){
  .skills{
    div.stack{
      grid-template-columns: repeat(auto-fit, 50px);
      grid-template-rows: repeat(auto-fit, 100px);
      h3{
        font-size: 16px;
      }
    }
  }

}