html, body, header{
    height: 100%;
    width: 100%;
}

header{
    position: fixed;
    display: flex;
    background: cadetblue;
    z-index: 1;
}

#btn{
    z-index: 2;
}

#btn:hover{
    color: #4cae4c;
}

.grid_container{
    display: grid;
    z-index: 3;
    height: 300%;
    top: 100%;
    grid-template-rows: repeat(3, 100%);
    background: dimgrey;
}

.grid_item{
    border: 1px solid black;
}