.viewport-pic{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: $particlesBack;
  min-width: 800px;
  overflow: hidden;
  img{
    height: 100%;
    width: auto;
  }
}