@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import "var";
@import "index/header";
@import "index/info";
@import "index/footer";
@import "index/skills";
@import "index/graphic";
//@import "index/posts";

body{
  height: 300%;
  display: grid;
  text-align: center;
  background: url('../img/footer_lodyas.png');;
  grid-template: 21% 1fr 5% / 100%;
  color: $fontColor;
}

main{
  height: 1px;
  min-height: 100%;
  background: $mainColor;
}

a, a:hover, a:active, a:visited, a:focus{
 text-decoration: none;
 transition: all 0.4s;
}

img{
 max-height: 100%;
 max-width: 100%;
 width: auto;
}
.img-wrapper{
  height: 100%;
  width: 100%;
}