@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import "var";
@import "index/header";
@import "index/info";
@import "index/footer";
@import "index/skills";
@import "index/posts";

body{
 height: 300%;
 display: grid;
 text-align: center;
 background: $mainColor;
 grid-template: 21% 1fr / 100%;
 grid-template-areas: "header" "info" "main" "footer";
 color: $fontColor;
}

main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: stretch;
 background: inherit;
}

a, a:hover, a:active, a:visited, a:focus{
 text-decoration: none;
 transition: all 0.4s;
}

img{
 max-height: 100%;
 max-width: 100%;
 width: auto;
}

@media screen and (max-width: 1050px) {
 h1{
  font-size: 50px;
 }
 body{
  min-height: 500%;
  grid-template: 20% 1fr / 100%;
 }
 .info{
  article{
   max-width: 500Px;
   margin: auto;
  }
  grid-template-columns: auto;
  grid-template-rows: 2fr 1fr min-content;
 }
}