.matches-aside{
  display: grid;
  position: fixed;
  grid-template-rows: 3fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  height: 86vh;
  width: 20%;
  background: $particlesBack;
  color: $brightFont;
  *{
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}

.ribbon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  a{
    height: 3vh;
    margin: 5px;
    &:hover{
      opacity: 0.6;
    }
  }
}