.matches-aside{
  display: grid;
  position: fixed;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  height: 86vh;
  width: 50px;
  background: $particlesBack;
  color: $brightFont;
  section{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    a{
      height: 3vh;
      min-width: 35px;
      margin: 5px;
      &:hover{
        opacity: 0.6;
      }
    }
  }
}

.aside-pillow{
  background: $particlesBack;
  height: 100%;
}