.matches{
  display: grid;
  grid-auto-rows: 50px;
  grid-gap: 5px;
  .alert-danger{
    text-align: center;
    display: grid;
    align-items: center;
    *{
      margin: 0;
    }
  }
}
.match{
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 4fr 1fr;
  background: inherit;
  align-items: center;
  *{
    display: grid;
    margin: 0;
  }
  img.home{
    max-height: 100%;
    margin-right: auto;
  }
  img.away{
    max-height: 100%;
    margin-left: auto;
  }
  .scores{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: stretch;
    text-align: center;
  }
}
.team-name{
  font-size: 3vmin;
  font-weight: 600;
}