.text-container{
  @extend .basic-container;
  position: relative;
  z-index: 5;
  padding: 5vh 15%;
  text-align: justify;
  .post-title{
    margin: 10vh 0;
  }
  .post-content{
    p{
      font-size: 4.5vmin;
    }
  }
  .post-date{
    font-size: 16px;
    color: $secondColor;
    margin-bottom: 10vh;
    font-weight: 600;
  }
  form{
    .btn{
      border: none;
      background: $particlesBack;
      &:hover{
        background: $secondColor;
        color: $particlesBack;
      }
    }
  }
}